
/*---------Keyframes---------*/
@keyframes fadein{
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes fadeinslow{
  0% {opacity:0;}
  45% {opacity:0;}
  50% {transform: translate(0px,-20px)}
  100% {opacity:1;}
}
@keyframes fadeinslowimg{
  0% {opacity:0;}
  /*1% {transform: translate(50px,0px);}*/
  45% {opacity:0;}
  50% {transform: translate(-100px, 0px)}
  100% {opacity:1;}
}
@keyframes littlemoveup{
  0% {transform: translate(0px,0px);}
  50% {transform: translate(-30px,0px);}
  100% {transform: translate(-10px,0px);}
}
/*---------end Keyframes start div classes---------*/


body {
  display: block;
  background-repeat:no-repeat; 
  background-image:  
/* 3) Color(using gradient) */ linear-gradient(to right, RGB(0, 0, 0), RGB(0, 0, 0)),
/* 2) Gradient              */ linear-gradient(to right, RGB(0, 0, 0), RGB(255, 255, 255)), 
/* 3) Color(using gradient) */ linear-gradient(to right, RGB(255, 255, 255), RGB(255, 255, 255));

  background-position:
/* 1) Image position        */ 0 0, 
/* 2) Gradient position     */ 0 1000px,
/* 3) Color position        */ 0 1100px;

  background-size:  
/* 1) Image size            */ 100% 1000px,
/* 2) Gradient size         */ 100% 100px, 
/* 3) Color size            */ 100% 1000px;

  color: black;
  margin: 0px;
  padding: 0px;
  font-family: 'Orelega One', cursive;
}

head{
  display: block;
}

h1 {
  font-size: 80px;
}


/*---------end div classes start classes---------*/

/*-----body classes---->*/

.bodyContent{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  margin-bottom: 30px;
}

.push{
  margin: 500px;
  border: 0px;
  padding: 0px;
}

/*-----top navigation class-----*/
.topnav {
  background-color: #000;
  overflow: hidden;
  font-family: 'Orelega One', cursive;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}
/*font and settings for reg button on left*/
.topnav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  font-size: medium;
  text-decoration: none;
}
/*font and settings for reg button on right*/
.topnav a.right{
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  font-size: 14px;
  text-decoration: none;
}

/*font and settings for when hovering*/
.topnav a:hover{
  background-color: grey;
  font-size: 17px;
  /*animation: 1s ease 0s normal forwards 1 textSize1;*/
}

/*font and settings for when the active screen*/
.topnav a.active{
  /*background-color: blue;*/
  font-size: 22px;
}

/*------botom navigation class-----*/
.botomnav{
  font-family: 'Orelega One', cursive;
  width: 100%;
  height: 60px;  
  background:black;
  margin: 0;
  margin-top: 200px;
  overflow: hidden;
}

.botomnav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  font-size: medium;
  text-decoration: none;
}

.botomnav a:hover{
  background-color: grey;
}

/*----- 1st page landing screen class-----*/

.landing{
  display: block;
  font-family: 'Orelega One', cursive;
  margin: 0px;
  margin-bottom: 20%;
}

/*font, settings, and animations for main big title, uses h1*/
.landing .titleA {
  margin-bottom: 5px;
  text-align: center;
  animation: 3s ease 0s normal forwards 1 fadein;
}
/*font, settings, and animations for small big title, uses p*/
.landing .titleB {
  margin-bottom: 0px;
  text-align: center;
  animation: 3s ease 0s normal forwards 1 fadeinslow;
}

/*settings and animation for main image in center*/
.landing .pickCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 45%;
  width: 50%;
  animation: 3s ease 0s normal forwards 1 littlemoveup;
}

/*-----class for making the image next to the text-----*/
.sideContainer{
  padding-top: 0px;
  padding-bottom: 30px;
  width: 90% ;
  max-width: 100% ;
  margin-left: auto ;
  margin-right: auto ;
}

.sideContainer .push{
  padding-top: 100px;
}

/*
.sideContainer .pushSmall{
  padding-top: 100px;
}*/

/*puts the title on the right with styling, uses p    vvvvvvvvvvvvvvvvvvvvvvvvvv*/
.sideContainer p.textTitleR{
  float: left;
  padding-left: 70px;
  font-size: large; 
}
/*puts the paragraph on the right with styling, uses p*/
.sideContainer p.textR{
  float: left;
  padding-top: 50px;
  padding-left: 0px;
  margin-left: 0px;
}

/*sizes image and puts it on the left*/
.sideContainer img.imgL{
  float: left;
  padding-left: 75px;
  height: 35%;
  width: 35%;
}
/*                                                   ^^^^^^^^^^^^^^^^^^^^^^*/
/*puts the title on the left with styling, uses p     vvvvvvvvvvvvvvvvvvv*/
.sideContainer p.textTitleL{
  float: right;
  padding-right: 70px;
  font-size: large; 
}

/*puts the paragraph on the left with styling, uses p*/
.sideContainer p.textL{
  float: right;
  padding-top: 50px;
  padding-right: 0px;
  margin-right: 0px;
}

/*sizes image and puts it on the right*/
.sideContainer img.imgR{
  padding-right: 75px;
  float: right;
  height: 35%;
  width: 35%;
}
/*                                                   ^^^^^^^^^^^^^^^^^^^^^^*/

/*basic fade in animation*/
.fadeIn{
  animation: 3s ease 0s normal forwards 1 fadeinslowimg;
}

/*basic set font*/
.setFont{
  font-family: 'Orelega One', cursive;
}