@keyframes fadeInUp {
    0% {opacity:0;}
    0% {transform: translate(0vh,10vh);}
    100% {transform: translate(0px,0vh);}
    100% {opacity:1;}
    to {
        visibility: visible;
      }
}

@keyframes delay {
    0% {visibility: hidden;}
    100% {visibility: visible;}
    100% {animation-fill-mode: visible}
}

body{
    display: block;
}

.welcome {
    text-align: center;
    font-size: 10vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    animation: 7s ease 0s normal forwards 1 fadeInUp;
}

.intro {
    height: 100vh;
    /*border: 3px solid cyan;*/
}

p {
    font-size: 3.5vh;
    text-align: center;
    padding-bottom: 6vh;
    visibility: hidden;
}

.explain1 {
    animation: 3s ease 4s forwards fadeInUp;
}

.explain2 {
    animation: 3s ease 7s forwards fadeInUp;
}

.explain3 {
    animation: 3s ease 10s forwards fadeInUp;
}

.explain4 {
    animation: 3s ease 13s forwards fadeInUp;
    padding-bottom: 2vh;
}

.explain41 {
    animation: 3s ease 13s forwards fadeInUp;
    padding: 0px;
}

.countDown {
    visibility: hidden;
    text-align: center;
    font-size: 10vh;
    animation: 5s ease 14s forwards fadeInUp;
}

.explain5 {
    animation: 1s ease 18s forwards fadeInUp;
}

.explain6 {
    animation: 1s ease 20s forwards fadeInUp;
}

.explain7 {
    animation: 1s ease 22s forwards fadeInUp;
}

.explain8 {
    animation: 1s ease 24s forwards fadeInUp;
    padding-bottom: 0vh;
}

.foot {
    animation: 1s ease 24s forwards fadeInUp;
    text-align: left;
    padding-bottom: 7.5vh;
    padding-left: 5vw;
    padding-top: 0vh;
    font-size: 2.5vh;
    visibility: hidden;
    /*text-decoration: none;*/
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }